_"practice makes better"_

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
df = (pd.read_csv('phone_data.csv'))
df.head(3)

   index            date  duration  item   network network_type
0      0  15/10/14 06:58    34.429  data      data         data
1      1  15/10/14 06:58    13.000  call  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call    Meteor       mobile

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         830 non-null    int64
 1   date          830 non-null    object
 2   duration      830 non-null    float64
 3   item          830 non-null    object
 4   network       830 non-null    object
 5   network_type  830 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 39.0+ KB

In [4]:
#a function to 'tidy' our data
#split the column date into two new columns 'call_date' and 'call_time'
#rename columns 'index' and 'item' to easy to interprete titles
#change column 'network' to lower case
#remove 'date' once done
def prep_df(df):
    return (df
            .assign(call_date = pd.to_datetime(df['date'].str.split(" ",expand=True)[0]),
                    call_time = df['date'].str.split(" ",expand=True)[1])
            .assign(network = df['network'].str.lower())
            .rename(columns={'index':'entry_number','item':'use_type'})
            .drop(columns='date'))

In [5]:
df = prep_df(df)
df

,entry_number,duration,use_type,network,network_type,call_date,call_time
0,0,34.429,data,data,data,2014-10-15,06:58
1,1,13.000,call,vodafone,mobile,2014-10-15,06:58
2,2,23.000,call,meteor,mobile,2014-10-15,14:46
3,3,4.000,call,tesco,mobile,2014-10-15,14:48
4,4,4.000,call,tesco,mobile,2014-10-15,17:27
...,...,...,...,...,...,...,...
825,825,1.000,sms,world,world,2015-03-13,00:38
826,826,1.000,sms,vodafone,mobile,2015-03-13,00:39
827,827,34.429,data,data,data,2015-03-13,06:58
828,828,1.000,sms,world,world,2015-03-14,00:13
829,829,1.000,sms,world,world,2015-03-14,00:16

In [6]:
df.dtypes

entry_number             int64
duration               float64
use_type                object
network                 object
network_type            object
call_date       datetime64[ns]
call_time               object
dtype: object

In [7]:
(df
 .memory_usage(deep=True)
 #.sum()
)

Index             128
entry_number     6640
duration         6640
use_type        50338
network         52282
network_type    52151
call_date        6640
call_time       51362
dtype: int64

In [8]:
df.isna().sum()

entry_number    0
duration        0
use_type        0
network         0
network_type    0
call_date       0
call_time       0
dtype: int64