_practice makes better_

In [8]:
import warnings
warnings.filterwarnings("ignore")

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

import datetime as dt

In [10]:
file = 'movie_dataset.csv'
df = pd.read_csv(file)

In [11]:
df.head(2)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski

In [12]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [22]:
def clean_df(df):
    return (df
            .assign(release_month = pd.to_datetime(df['release_date'].str.split("-")[1]))
            .sort_values(by='id', ascending=False)
            .set_index('id')
            .drop(columns=['homepage','spoken_languages'])
    )

In [23]:
df2 = clean_df(df)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-01-05 00:00:00 present at position 1

In [ ]:
(df
 .memory_usage()
 .sum()
)

In [ ]:
df.original_language.unique()

In [ ]:
(df
 .query('original_language == "en"')
 .groupby('director')['runtime'].sum()
)

In [ ]:
df.budget.sum()

In [ ]:
df.isnull().sum()

In [ ]:
df.director.nunique()

In [77]:
(df
 .director.value_counts()
 .sort_values(ascending=False)
 .head(10)
)

Steven Spielberg     27
Woody Allen          21
Martin Scorsese      20
Clint Eastwood       20
Ridley Scott         16
Spike Lee            16
Robert Rodriguez     16
Steven Soderbergh    15
Renny Harlin         15
Oliver Stone         14
Name: director, dtype: int64

In [ ]:
df.release_date.str.split("-", expand=True)

In [24]:
df.status.unique()

array(['Released', 'Post Production', 'Rumored'], dtype=object)

In [76]:
df.spoken_languages.str.split(":", expand=True).head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"[{""iso_639_1""","""en"", ""name""","""English""}, {""iso_639_1""","""es"", ""name""","""Espa\u00f1ol""}]",None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [75]:
(df
 .genres.str.contains("Comedy")
)

0       False
1       False
2       False
3       False
4       False
        ...
4798    False
4799     True
4800     True
4801      NaN
4802    False
Name: genres, Length: 4803, dtype: object

In [66]:
len(df.genres.items()[1])

TypeError: 'zip' object is not subscriptable

In [63]:
len(list(df.genres.items()))

4803