In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Imports Crude Oil.csv')

In [22]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 2 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   date                                                                                          145 non-null    object
 1   imports_of_all_grades_of_crude_oil_from_world_to_total_u.s._(us),_monthly_(thousand_barrels)  145 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [17]:
df.rename(columns={'unnamed:_0':'date'}, inplace=True)

In [18]:
df.assign(month = df['date'].str.split(' ', expand=True)[1])

,date,"imports_of_all_grades_of_crude_oil_from_world_to_total_u.s._(us),_monthly_(thousand_barrels)",month
0,2009 01,317275,01
1,2009 02,262339,02
2,2009 03,303897,03
3,2009 04,285934,04
4,2009 05,281147,05
...,...,...,...
140,2020 09,161926,09
141,2020 10,164494,10
142,2020 11,168655,11
143,2020 12,178597,12
144,2021 01,181197,01