In [1]:
import pandas as pd
import numpy as np
import datetime as dt

import warnings
warnings.filterwarnings('ignore')

In [13]:
df = pd.read_csv('Imports Crude Oil.csv')

In [14]:
df.memory_usage(deep=True).sum()

10713

In [16]:
df.isna().sum()

Unnamed: 0                                                                                      0
Imports of all grades of crude oil from World to Total U.S. (US), Monthly (thousand barrels)    0
dtype: int64

In [3]:
df.columns = [x.lower().replace(' ','_') for x in df.columns]

In [4]:
df.columns

Index(['unnamed:_0', 'imports_of_all_grades_of_crude_oil_from_world_to_total_u.s._(us),_monthly_(thousand_barrels)'], dtype='object')

In [5]:
def clean_df(df):
    return (df
            .assign(date = pd.to_datetime(df['unnamed:_0']), 
                    month = df['unnamed:_0'].str.split(' ', expand=True)[1])
            .rename(columns={'imports_of_all_grades_of_crude_oil_from_world_to_total_u.s._(us),_monthly_(thousand_barrels)':'us_crude_oil_imports_per_thousand_barrels'},
                inplace=True)
            .drop('unnamed:_0')
            .set_index(df['date'])
           )

In [6]:
df = clean_df(df)

AttributeError: 'NoneType' object has no attribute 'drop'

In [7]:
df.head()

,unnamed:_0,"imports_of_all_grades_of_crude_oil_from_world_to_total_u.s._(us),_monthly_(thousand_barrels)"
0,2009 01,317275
1,2009 02,262339
2,2009 03,303897
3,2009 04,285934
4,2009 05,281147